In [1]:
import pandas as pd

# Remove dataFrame display size restrictions
#pd.set_option("display.max_rows", None, "display.max_columns", None)

walk_score = pd.read_csv("output/walkscore_data_clean.csv")
trees = pd.read_csv("output/tree_data_clean.csv")
stations = pd.read_csv("output/stations_data_clean.csv")
brownfields = pd.read_csv("output/brownfields_data_clean.csv")
crime = pd.read_csv("output/crime_data_clean.csv")
housing = pd.read_csv("output/re_data_clean.csv")
restaurants = pd.read_csv("output/restaurants.csv")
elem = pd.read_csv("output/final_elementary.csv")
middle = pd.read_csv("output/final_middle.csv")
high = pd.read_csv("output/final_high.csv")

#### Walk Scores

In [2]:
walk_score = walk_score.sample(n=1000)

In [3]:
walk_score = walk_score[['uniqueid','address', 'borough', 'zipcode', 'lat', 'long', 'under_1_mile', 'walkable_false', 'walkable_true']]

walk_score.rename(columns={'uniqueid': 'Unique ID', 'address': 'Address', 'borough': 'Bourough', 'lat': 'Latitude', 'long': 'Longitude', 'zipcode': 'Zipcode', "under_1_mile": 'Subway < 1 Mile', 'walkable_false': 'Walkable - False', 'walkable_true': 'Walkable - True' }, inplace=True)

walk_score.to_html("html_tables/walk_table.html", max_cols=100, index=False)

walk_score.head()

,Unique ID,Address,Bourough,Zipcode,Latitude,Longitude,Subway < 1 Mile,Walkable - False,Walkable - True
6265,6265,150 foch ave,staten island,10305,40.5944,-74.0711,True,0,1
5636,5636,288 holton ave,staten island,10309,40.5266,-74.2238,True,0,1
24725,24725,"215-12 47th ave, unit 3b",queens,11361,40.7623,-73.7743,False,1,0
36091,36091,"7002 ridge blvd, unit f1",brooklyn,11209,40.6230,-74.0300,True,0,1
22071,22071,47-15 104th st,queens,11368,40.7506,-73.8478,True,0,1

#### Trees

In [4]:
trees = trees.sample(n=1000)

In [5]:
trees = trees[['borough', 'neighborhood', 'zipcode', 'latitude', 'longitude', 'health', 'health_level_dead', 'health_level_poor', 'health_level_fair', 'health_level_good']]

trees.rename(columns={'borough': 'Borough', 'latitude': 'Latitude', 'longitude': 'Longitude', 'health': 'Health', 'neighborhood': 'Neighborhood', 
                      'zipcode': 'Zipcode', 'health_level_dead': 'Health - Dead', 'health_level_poor': 'Health - Poor',
                      'health_level_fair': 'Health - Fair', 'health_level_good': 'Health - Good'}, inplace=True) 
                      
                   
trees.to_html("html_tables/trees_table.html", max_cols=100, index=True) 

trees.head()

,Borough,Neighborhood,Zipcode,Latitude,Longitude,Health,Health - Dead,Health - Poor,Health - Fair,Health - Good
592466,staten island,annadale-huguenot-prince's bay-eltingville,10312,40.529541,-74.187862,good,0.0,0.0,0.0,1.0
129589,queens,richmond hill,11418,40.699302,-73.842254,fair,0.0,0.0,1.0,0.0
375084,brooklyn,crown heights north,11213,40.673031,-73.925716,good,0.0,0.0,0.0,1.0
205365,queens,south jamaica,11433,40.701121,-73.783402,good,0.0,0.0,0.0,1.0
572882,queens,baisley park,11434,40.682351,-73.789259,good,0.0,0.0,0.0,1.0

#### Stations

In [6]:
stations = stations[['index', 'borough', 'line', 'station_name', 'zipcode', 'lat_field', 'lon_field', 'ada_access_no', 
                     'ada_access_yes', 'ada_access_partial']]

stations.rename(columns={'index': 'Unique ID', 'borough': 'Borough', 'line': 'Line', 'station_name': 'Station Name', 
                         'zipcode': 'Zipcode', 'lat_field': 'Latitude', 'lon_field': 'Longitude', 'ada_access_no':'Accessible - No', 'ada_access_yes': 'Accessible - Yes',
                         'ada_access_no': 'Accessible - Partial'}, inplace=True)

stations.to_html("html_tables/stations_table.html", index=False)
stations.head()

,Unique ID,Borough,Line,Station Name,Zipcode,Latitude,Longitude,Accessible - Partial,Accessible - Yes,ada_access_partial
0,0,queens,astoria,astoria-ditmars blvd,11101,40.775036,-73.912034,1,0,0
1,1,queens,astoria,astoria blvd,11102,40.770258,-73.917843,0,1,0
2,2,queens,astoria,30 av,11102,40.766779,-73.921479,1,0,0
3,3,queens,astoria,broadway,11101,40.761820,-73.925508,1,0,0
4,4,queens,astoria,36 av,11106,40.756804,-73.929575,1,0,0

#### Brownfields

In [7]:
brownfields = brownfields.sample(n=1000)

In [8]:
brownfields = brownfields[['index', 'borough', 'site_name', 'zipcode',
                          'type_is_active_cleanup_mild_threat', 'type_is_active_significant_threat', 'type_is_completed_clean', 'type_is_maintain_continued_threat', 'type_is_potential_threat']]


brownfields.rename(columns={'index': 'Unique ID', 'borough': 'Borough', 'site_name': 'Site Name', 'zipcode': 'Zipcode',
                            'type_is_active_cleanup_mild_threat': 'Active Clean Up - Mild Threat',
                            'type_is_active_significant_threat': 'Active Clean Up - High Threat',
                            'type_is_completed_clean': 'Completed - Clean',
                            'type_is_maintain_continued_threat': 'Completed - Ongoing Maintenance', 
                            'type_is_potential_threat': 'Review Pending - Potential Threat'}, inplace=True) 

brownfields.to_html("html_tables/brownfields_table.html", max_cols=100, index=False)
brownfields.head()

,Unique ID,Borough,Site Name,Zipcode,Active Clean Up - Mild Threat,Active Clean Up - High Threat,Completed - Clean,Completed - Ongoing Maintenance,Review Pending - Potential Threat
552,552,kings,peoples works,11211,0,0,1,0,0
203,203,kings,k - flatbush station a&b,11220,0,0,1,0,0
304,304,kings,159 boerum street,11206,1,0,0,0,0
668,668,manhattan,consolidated gas 18th st. station,10027,1,0,0,0,0
378,378,kings,45 commercial street,11222,1,0,0,0,0

#### Crime

In [9]:
crime = crime.sample(n=1000)

In [10]:
crime = crime[['complaint_id', 'borough', 'category', 'lat2', 'long2', 'complaint_date', 'zipcode',
              'type_is_felony', 'type_is_violation', 'type_is_misdemeanor', 'danger_level', 'danger_level_is_high', 'danger_level_is_low']]

crime.rename(columns={'complaint_id':'Complaint ID', 'borough': 'Borough', 'category': 'Category',
                     'lat2': 'Latitude', 'long2': 'Longitude', 'complaint_date': 'Complaint Date',
                     'zipcode': 'Zipcode','type_is_felony': 'Crime - Felony',
                     'type_is_violation': 'Crime - Violation', 'type_is_misdemeanor': 'Crime - Misdemeanor', 
                     'danger_level': 'Danger Level', 'danger_level_is_high': 'Danger - High',
                     'danger_level_is_low': 'Danger - Low'}, inplace=True) 

crime.to_html("html_tables/crime_table.html", max_cols=100, index=False)
crime.head()

,Complaint ID,Borough,Category,Latitude,Longitude,Complaint Date,Zipcode,Crime - Felony,Crime - Violation,Crime - Misdemeanor,Danger Level,Danger - High,Danger - Low
104469,970651132,bronx,felony,40.84,-73.92,2020-11-26,10452,1,0,0,high,1,0
69901,881680295,manhattan,violation,40.77,-73.98,2020-08-27,10106,0,1,0,low,0,1
27980,755878951,brooklyn,violation,40.70,-73.92,2020-02-19,11237,0,1,0,low,0,1
84798,338577142,manhattan,misdemeanor,40.81,-73.95,2020-07-17,10027,0,0,1,low,0,1
12254,175426206,brooklyn,violation,40.66,-73.91,2020-03-02,11212,0,1,0,low,0,1

#### Restaurants

In [11]:
restaurants = restaurants.sample(n=1000)

In [12]:
restaurants = restaurants[['index', 'Name', 'boro', 'street', 'zipcode']]
restaurants.rename(columns={'index': 'Restaurant ID', 'Name': 'Restaurant Name', 'boro': 'Borough', 
                           'street': 'Street', 'zipcode': 'Zipcode'}, inplace=True)

restaurants['Restaurant Name'].str.lower()
restaurants['Borough'].str.lower()
restaurants['Street'].str.lower()

restaurants.to_html("html_tables/restaurants_table.html", max_cols=100, index=False)
restaurants.head()

,Restaurant ID,Restaurant Name,Borough,Street,Zipcode
24308,24309,PHILADELPHIA GRILLE EXPRESS,Brooklyn,4 AVENUE,11209
11962,11963,KAHLO,Manhattan,WEST 29 STREET,10001
23290,23291,MR. BRUNO'S PIZZA,Queens,31 AVENUE,11370
7218,7219,FRIENDLY DELI-GRO,Brooklyn,HARRISON AVENUE,11206
2584,2585,OSTERIA 106,Manhattan,WEST 106 STREET,10025

#### Schools

In [13]:
elem = elem[['ranking', 'school_name', 'school_type', 'address', 'city', 'zipcode', 'county', 'district', 'is_charter', 'is_magnet', 'is_title_i', 'total_students','total_expenditure_per_pupil', 'free_lunch_recipient', 'white', 'black', 'hispanic', 'asian','ranking_quartile',
       'type_is_Top 25th Percentile', 'type_is_50th Percentile', 'type_is_75th Percentile', 'type_is_Bottom 25th Percentile', 'lunch_eligibity_high', 'lunch_eligibity_high_False', 'lunch_eligibity_high_True']]

elem.rename(columns={'ranking': 'School Ranking', 'school_name': 'School Name',
                    'school_type': 'School Type', 'address': 'Address', 'city': 'City', 'zipcode': 'Zipcode', 
                    'county': 'County', 'district': 'District', 'is_charter': 'Charter', 'is_magnet': 'Magnet', 
                     'is_title_i': 'Title I','total students': 'Total Students', 'free_lunch_recipient': 'Free Lunch Eligible',
                     'total_expenditure_per_pupil': 'Expenditure Per Pupil', 'white': 'White', 'black': 'Black', 'hispanic': 'Hispanic',
                     'asian': 'Asian', 'type_is_Top 25th Percentile': 'Top 25th Percentile',
                     'type_is_Top 50th Percentile': '50th Percentile','type_is_75th Percentile': '75th Percentile',
                     'type_is_Bottom 25th Percentile': 'Bottom 25th Percentile', 'lunch_eligibity_high':
                     'Subsidized Lunch > 72%', 'lunch_eligibity_high_False': 'Subsidized Lunch < City Avg', 'lunch_eligibity_high_True':'Subsidized Lunch > City Avg' }, inplace=True)

elem.to_html("html_tables/elem_table.html", max_cols=100)

elem.head()

,School Ranking,School Name,School Type,Address,City,Zipcode,County,District,Charter,Magnet,...,Hispanic,Asian,ranking_quartile,Top 25th Percentile,type_is_50th Percentile,75th Percentile,Bottom 25th Percentile,Subsidized Lunch > 72%,Subsidized Lunch < City Avg,Subsidized Lunch > City Avg
0,1,Anderson School (The),Public,100 W 77th St,New York,10024,New York County,New York City Geographic District # 3,No,No,...,47 (9.0%),152 (29.2%),Top 25th Percentile,1,0,0,0,False,1,0
1,2,New Explorations Into Sciencetech And Math Hig...,"Public, Alternative",111 Columbia St,New York,10002,New York County,New York City Geographic District # 1,No,No,...,202 (11.5%),578 (33.0%),Top 25th Percentile,1,0,0,0,False,1,0
2,3,Ps 77 Lower Lab School,Public,1700 3rd Ave,New York,10128,New York County,New York City Geographic District # 2,No,No,...,17 (4.7%),117 (32.5%),Top 25th Percentile,1,0,0,0,False,1,0
3,4,Success Academy Charter School-Union Square,"Public, Charter",40 Irving Pl-2nd Fl,New York,10003,New York County,Success Academy Charter School-Union Square,Yes,No,...,203 (28.2%),140 (19.4%),Top 25th Percentile,1,0,0,0,False,1,0
4,5,Tag Young Scholars,Public,240 E 109th St,New York,10029,New York County,New York City Geographic District # 4,No,No,...,90 (15.2%),231 (38.9%),Top 25th Percentile,1,0,0,0,False,1,0

In [14]:
middle = middle[['ranking', 'school_name', 'school_type', 'address', 'city', 'zipcode', 'county', 'district', 'is_charter', 'is_magnet', 'is_title_i', 'total_students','total_expenditure_per_pupil', 
                 'free_lunch_recipient', 'white', 'black', 'hispanic', 'asian','ranking_quartile',
                 'type_is_Top 25th Percentile', 'type_is_50th Percentile', 'type_is_75th Percentile', 'type_is_Bottom 25th Percentile', 'lunch_eligibity_high', 'lunch_eligibity_high_False', 'lunch_eligibity_high_True']]


middle.rename(columns={'ranking': 'School Ranking', 'school_name': 'School Name',
                    'school_type': 'School Type', 'address': 'Address', 'city': 'City', 'zipcode': 'Zipcode', 
                    'county': 'County', 'district': 'District', 'is_charter': 'Charter', 'is_magnet': 'Magnet', 
                     'is_title_i': 'Title I','total students': 'Total Students', 'free_lunch_recipient': 'Free Lunch Eligible',
                     'total_expenditure_per_pupil': 'Expenditure Per Pupil', 'white': 'White', 'black': 'Black', 'hispanic': 'Hispanic',
                     'asian': 'Asian', 'type_is_Top 25th Percentile': 'Top 25th Percentile',
                     'type_is_Top 50th Percentile': '50th Percentile','type_is_75th Percentile': '75th Percentile',
                     'type_is_Bottom 25th Percentile': 'Bottom 25th Percentile', 'lunch_eligibity_high':
                     'Subsidized Lunch > 72%', 'lunch_eligibity_high_False': 'Subsidized Lunch < City Avg', 'lunch_eligibity_high_True':'Subsidized Lunch > City Avg' }, inplace=True)

middle.to_html("html_tables/middle_table.html", max_cols=100)

middle.head()

,School Ranking,School Name,School Type,Address,City,Zipcode,County,District,Charter,Magnet,...,Hispanic,Asian,ranking_quartile,Top 25th Percentile,type_is_50th Percentile,75th Percentile,Bottom 25th Percentile,Subsidized Lunch > 72%,Subsidized Lunch < City Avg,Subsidized Lunch > City Avg
0,1,Baccalaureate School For Global Education,Public,34-12 36th Ave,Long Island City,11106,Queens County,New York City Geographic District #30,No,No,...,101 (18.8%),247 (46.1%),Top 25th Percentile,1,0,0,0,False,1,0
1,2,Success Academy Charter School-Bronx 2,"Public, Charter",450 St Paul's Pl-5th Fl,Bronx,10456,Bronx County,Success Academy Charter School-Bronx 2,Yes,No,...,257 (34.1%),6 (0.8%),Top 25th Percentile,1,0,0,0,True,0,1
2,3,Ps 122 Mamie Fay,Public,21-21 Ditmars Blvd,Astoria,11105,Queens County,New York City Geographic District #30,No,No,...,262 (19.2%),346 (25.4%),Top 25th Percentile,1,0,0,0,False,1,0
3,4,Anderson School (The),Public,100 W 77th St,New York,10024,New York County,New York City Geographic District # 3,No,No,...,47 (9.0%),152 (29.2%),Top 25th Percentile,1,0,0,0,False,1,0
4,5,Success Academy Charter School-Harlem 3,"Public, Charter, Alternative",410 E 100th St-4th Fl,New York,10029,New York County,Success Academy Charter School-Harlem 3,Yes,No,...,366 (32.9%),12 (1.1%),Top 25th Percentile,1,0,0,0,True,0,1

In [15]:
high = high[['ranking', 'school_name', 'school_type', 'address', 'city', 'zipcode', 'county', 'district', 'is_charter', 'is_magnet', 'is_title_i', 'total_students','total_expenditure_per_pupil', 
             'free_lunch_recipient', 'white', 'black', 'hispanic', 'asian','ranking_quartile',
             'type_is_Top 25th Percentile', 'type_is_50th Percentile', 'type_is_75th Percentile', 'type_is_Bottom 25th Percentile', 'lunch_eligibity_high', 'lunch_eligibity_high_False', 'lunch_eligibity_high_True']]

high = high.rename(columns={'ranking': 'School Ranking', 'school_name': 'School Name',
                            'school_type': 'School Type', 'address': 'Address', 'city': 'City', 'zipcode': 'Zipcode', 
                            'county': 'County', 'district': 'District', 'is_charter': 'Charter', 'is_magnet': 'Magnet', 
                            'is_title_i': 'Title I','total students': 'Total Students', 'free_lunch_recipient': 'Free Lunch Eligible',
                            'total_expenditure_per_pupil': 'Expenditure Per Pupil', 'white': 'White', 'black': 'Black', 'hispanic': 'Hispanic',
                            'asian': 'Asian', 'type_is_Top 25th Percentile': 'Top 25th Percentile',
                            'type_is_Top 50th Percentile': '50th Percentile','type_is_75th Percentile': '75th Percentile',
                            'type_is_Bottom 25th Percentile': 'Bottom 25th Percentile', 'lunch_eligibity_high':'Subsidized Lunch > 72%', 
                            'lunch_eligibity_high_False': 'Subsidized Lunch < City Avg', 'lunch_eligibity_high_True':'Subsidized Lunch > City Avg' })

high.to_html("html_tables/high_table.html", max_cols=100)
high.head()

,School Ranking,School Name,School Type,Address,City,Zipcode,County,District,Charter,Magnet,...,Hispanic,Asian,ranking_quartile,Top 25th Percentile,type_is_50th Percentile,75th Percentile,Bottom 25th Percentile,Subsidized Lunch > 72%,Subsidized Lunch < City Avg,Subsidized Lunch > City Avg
0,1,Bronx High School Of Science (The),Public,75 W 205th St,Bronx,10468,Bronx County,New York City Geographic District #10,No,No,...,214 (7.1%),"1,934 (64.0%)",Top 25th Percentile,1,0,0,0,False,1,0
1,2,Stuyvesant High School,Public,345 Chambers St,New York,10282,New York County,New York City Geographic District # 2,No,No,...,99 (3.0%),"2,409 (72.6%)",Top 25th Percentile,1,0,0,0,False,1,0
2,3,Queens High School For The Sciences At York Co...,Public,94-50 159th St,Jamaica,11433,Queens County,New York City Geographic District #28,No,No,...,19 (4.0%),387 (81.5%),Top 25th Percentile,1,0,0,0,False,1,0
3,5,High School Of American Studies At Lehman College,Public,2925 Goulden Ave,Bronx,10468,Bronx County,New York City Geographic District #10,No,No,...,40 (9.7%),85 (20.6%),Top 25th Percentile,1,0,0,0,False,1,0
4,6,Townsend Harris High School,Public,149-11 Melbourne Ave,Flushing,11367,Queens County,New York City Geographic District #25,No,No,...,146 (12.3%),654 (55.3%),Top 25th Percentile,1,0,0,0,False,1,0