# Import Libraries & Dependencies

In [1]:
#import libraries and dependencies
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [2]:
#Create connection to postgres database EmployeeSQL
load_dotenv()
my_env_var = os.getenv('DB_CONNECTION_STRING')
engine = create_engine(my_env_var)
connection = engine.connect()
connection

In [13]:
from sklearn.impute import SimpleImputer
import numpy as np

headings = merged_df.columns.values.tolist()

headings

imp=SimpleImputer(missing_values= np.nan,strategy='most_frequent')
imp.fit(merged_df)
new_train_data=pd.DataFrame(imp.fit_transform(merged_df))

X = new_train_data

X.columns=headings

# X.to_csv("/Users/bxprd/Data Analytics Bootcamp/Git_Repos/NYC-Challenge-Final/python_files/output/merged_data.csv", index=False)

X

,category_tier,type_is_felony,type_is_misdemeanor,type_is_violation,danger_level_is_high,danger_level_is_low,status_tier,type_is_active_cleanup_mild_threat,type_is_active_significant_threat,type_is_completed_clean,...,health_level_poor,fullt_time_teachers,student_teacher_ratio,free_lunch_recipient,full_time_teachers,student_teacher_ratio,free_lunch_recipient,full_time_teachers,student_teacher_ratio,free_lunch_recipient
0,2.0,0.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0,1.0,...,0.0,26.0,20.0,0.15,141.0,21.4,42.6,30.0,17.9,36.0
1,1.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,...,0.0,95.0,18.4,0.24,158.0,20.9,43.0,41.0,18.3,87.0
2,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,...,0.0,18.0,20.0,0.11,27.0,17.5,60.8,75.0,18.1,48.0
3,1.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,...,0.0,48.0,14.9,0.44,131.0,11.6,0.0,26.0,20.0,15.0
4,1.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,...,0.0,24.0,24.7,0.34,25.0,16.4,23.8,67.0,16.7,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683783,1.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,...,1.0,33.0,12.7,0.85,33.0,13.8,0.0,30.0,11.1,86.0
683784,1.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,...,0.0,33.0,12.7,0.85,33.0,13.8,0.0,30.0,11.1,86.0
683785,1.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,...,0.0,33.0,12.7,0.85,33.0,13.8,0.0,30.0,11.1,86.0
683786,1.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,...,0.0,33.0,12.7,0.85,33.0,13.8,0.0,30.0,11.1,86.0
683787,1.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,...,0.0,33.0,12.7,0.85,33.0,13.8,0.0,30.0,11.1,86.0

In [14]:
y = pd.read_sql('SELECT zipcode FROM "tree"', connection)
y = pd.get_dummies(y)
y

        zipcode
0         11366
1         11370
2         11434
3         11209
4         11692
...         ...
683783    11231
683784    11001
683785    11230
683786    11420
683787    11211

[683788 rows x 1 columns]

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200, random_state=42)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

<ipython-input-20-4ced0c33fbe0>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf = rf.fit(X_train, y_train)

0.03153024036689734

In [18]:
sorted(zip(rf.feature_importances_, X.columns), reverse=True)

[(0.46020295525014837, 'sold_price'),
 (0.24797368201224756, 'days_on_market'),
 (0.09536391175251155, 'bed'),
 (0.09322554826742158, 'bath'),
 (0.009696732665987992, 'fullt_time_teachers'),
 (0.009677029864974077, 'student_teacher_ratio'),
 (0.009579701736278328, 'free_lunch_recipient'),
 (0.0060932957958109895, 'category_tier'),
 (0.006062448404146901, 'dom_tier'),
 (0.0047723355089805694, 'type_is_misdemeanor'),
 (0.004324464207707212, 'danger_level_is_high'),
 (0.004238958397751016, 'danger_level_is_low'),
 (0.004191753942066955, 'type_is_felony'),
 (0.004147880455924736, 'dom_iqr'),
 (0.0041311407546058485, 'student_teacher_ratio'),
 (0.004103910261041709, 'full_time_teachers'),
 (0.004051645323496937, 'free_lunch_recipient'),
 (0.0031630200944364343, 'dom_upperbound'),
 (0.00316137204159227, 'type_is_violation'),
 (0.0030904457168421436, 'full_time_teachers'),
 (0.003008372895857127, 'student_teacher_ratio'),
 (0.0028599579017873663, 'free_lunch_recipient'),
 (0.002794706563340042, 'dom_lowerbound'),
 (0.002207094249095667, 'dom_extended'),
 (0.001068481358938438, 'health_level_good'),
 (0.0010647889298850575, 'health_level'),
 (0.0008903488428720842, 'dom_outlier'),
 (0.0008182829856559367, 'status_tier'),
 (0.0006566067068336432, 'health_level_fair'),
 (0.0006061759326732679, 'type_is_completed_clean'),
 (0.0005440108697430876, 'type_is_active_cleanup_mild_threat'),
 (0.0004893462683253047, 'health_level_poor'),
 (0.00032291277225208695, 'status_tier'),
 (0.00030716205657182, 'status_dead'),
 (0.0002849758296420028, 'status_stump'),
 (0.00020627702931912034, 'type_is_active_significant_threat'),
 (0.00019869349283311232, 'status_alive'),
 (0.0001727975279421163, 'health_level_dead'),
 (0.00016529720610444537, 'type_is_potential_threat'),
 (8.147812635514375e-05, 'type_is_maintain_continued_threat')]

In [ ]:
y_pred = model.predict(X_test)